 *{
     padding: 0px;
     margin: 0px;
 }*
 body{
    background-color:rgba(245,248,255,1) ;
}
.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.noto-serif-2{
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    font-size: 50px;
}
.noto-serif-3{
    color: rgba(233, 90,8, 1);
    font-weight: bold;
    font-size: 50px;
}
.noto-serif-4{
    color: rgba(255, 255,255, 1);
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 28px;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
}
.inter-2{
color: rgba(137,135, 161,1);
}
.primary-font{
    font-size: 22px;
}
.btn-primary{
    background-color: rgba(233,90,8,1);
    border: none;
    width: 270px;
    padding:15px 80px 15px 80px;
    font-weight:600;
    color: rgba(255,255,255,1);
}
.display-flex{
    display: flex;
    justify-content: space-between;
     padding: 42px 140px 50px 160px;
      align-items: center;
}
.li-type{
    list-style-type: none;
}
.li-primary{
    font-size: 16;
    text-decoration: none;
    margin-right: 48px;   
   
}

.nav-sec{
    display: flex;
    justify-content: space-between;
}
.section-new{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 100px 0px 300px;
    font-size: 22px;
    
}
.section-flow-about{
    font-size: 65px;
}
.section-card{
        display: grid;
        grid-template-columns: repeat(4,1fr);   
        gap: 100px;
}
.section-card-name{
    font-size: 22;
    color: #111111;
    font-weight: 500;
}
.section-card-price{
    font-size: 22;
    color: #111111;
    font-weight: bold;
    padding: 20px 94.5px 20px 94.5px;
}
.section-2-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 0px 0px;
}
.section-ul{
    padding-bottom: 30px;
}
.image-wrapper {
  position: relative;
}
.trusted-badge {
  position: absolute;
  top: -80px;
  left: 400px;
  width: 200px;
  height: auto;
}
.section-lover{
    display: flex;
    flex-direction: column;
     padding: 38px 150px 0px 60px;
}
.flower-container{
    display: flex;
}
.flower-text ul {
  padding-left: 20px;
}
.flower-section{
   display: grid;
  grid-template-columns:repeat(2,1fr);
  gap:20px;
}
.img3{
    grid-row: span 2;
}
.flower-section img{
       border-radius: 10px;
}
.img{
    height: 100%;
    width: 100%;
}
.last-section{
    background-image: url(assets/news-letter-bg.png);
    background-size: cover;
 background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.section-input{
    height:50px;
    width: 500px;
}
.last-section-div{
    display: flex;
}
.last-btn{
     height:53px;
    width: 150px;
    margin: 1px 0px 0px 0px;
    padding: 19px 53.5px 19px 40px;
    font-weight: 500;
}
.footer-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0px 50px 100px;
}
.footer-links{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer-img-sec {
  display: flex;
  gap: 15px;
  padding-right: 80px;
  padding-bottom: 100px;
}

.footer-img img {
  width: 30px;
}
@media  screen and (max-width: 576px) {
    .nav-res{
        display: none;
    }
    .display-flex{
        padding: 30px 16px 28px 16px;
    }
    .hero-section{
    flex-direction: column-reverse;
       /* padding: 0px 28.5px 0px 0px; */
    }
    .li-primary{
        font-size: 14px;
    }
    .noto-serif-2{
        font-size: 24px;
    }
    .noto-serif-3{
        font-size: 24px;
    }
    .section-card{
         grid-template-columns: repeat(2,1fr); 
         gap: 20px;
    }
    .section-new{
        padding: 0px 28.5px 0px 33px;
        font-size: 14px;
    }
     .flower-container{
        display: flex;
       flex-direction: column;
     }
    .flower-text ul {
    padding-left: 0;
    }
    .section-lover{
    padding: 20px 150px 20px 18px;
   }
   .trusted-badge{
    display: none;
   }
   .flower-section,.footer-links{
   display: grid;
   grid-template-columns:repeat(1,1fr);
   gap:20px;
   }
   .img3{
    grid-row: span 1;
}
.section-input{
    height:50px;
    width: 220px;
}
.last-btn{
     height:53px;
    width: 100px;
     padding: 19px 5px 19px 5px;
}
.footer-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin-left: 30px;
}
}